input, textarea {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 15px;
}

input[type=submit] {
  width: auto;
}

textarea {
  height: 202px;
}

input:focus, textarea:focus {
  outline: 1px solid #777;
}
