@import url('../style.css');
@import url('../form.css');
#header.page-contato {
  background-image: url("../../images/background-contato.jpg");
}

#contact {
  background-color: rgb(236, 235, 235);
}

.btn {
  border-radius: 0;
  padding: 20px 60px;
  font-size: 18px;
}
