@import url('../style.css');
#header.page-home {
  background-image: url("../../images/background-header.jpg");
}

#customers {
  background: rgb(232, 232, 232);
}

#customers .btn {
  color: rgb(130, 130, 130);
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(210, 210, 210);
}

#customers .btn:hover {
  color: rgb(210, 210, 210);
  background-color: rgb(130, 130, 130);
}

#customers .btn .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

#customers .container {
  max-width: 1000px;
}

#customers .rows {
  margin: 20px 0 40px 0;
}

#our-team, #our-team .subtitle {
  color: white;
  background-color: rgb(84, 209, 84);
}

#our-team h2:after {
  background-color: #fff;
}

#our-team .img-box-round {
  width: 120px;
  height: 120px;
}

#our-team .img-box-label:before {
  content: '';
  display: block;
  width: 50%;
  height: 70px;
  border-right: 2px solid #000;
  background: transparent;
  margin-bottom: 20px;
}
